header {
  background: var(--white);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  > div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;

  li {
    cursor: pointer;
    font-weight: 600;

    &:hover:not(.active) {
      text-decoration: underline;
      color: var(--red-angular);
    }

    &.active {
      color: var(--red-angular);
    }
  }
}
