<div
  class="banner"
  [ngStyle]="{'background-image': 'url(\'./assets/angular-banner.jpg\')'}"
  *ngIf="toggleBanner; else showBanner"
>
  <div>
    <span *ngIf="name === 'Jeferson'; else nameNotFound">Boas vindas {{ name }}!</span>
    <ng-template #nameNotFound>
      <span>Olá!</span>
    </ng-template>
    <h2>Aprenda Angular de forma descomplicada!</h2>
    <a class="cta" href="#">Saiba mais</a>
  </div>

  <button class="btnClose" (click)="handleBannerToggle()">x</button>
</div>

<ng-template #showBanner>
  <div class="btnShowBanner">
    <a (click)="handleBannerToggle()">
      Mostrar banner
    </a>
  </div>
</ng-template>
